rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth.uid != null;
    }

    match /Markets/{docId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /Menu/{docId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /Orders/{docId} {
      allow read, write: if true;
    }

    match /Stores/{docId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
    
    match /ContactRequests/{docId} {
    	allow read, write: if true;
    }
    
    match /Promotions/{docId} {
    	allow read, write: if true;
    }
    
    match /Expenses/{docId} {
    	allow read,write: if isAuthenticated();
    }
  }
}