$font-size-root: 14px;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$body-font-family: 'Montserrat', serif;

@import '~vuetify/src/styles/settings/_variables';

@media #{map-get($display-breakpoints, 'sm-and-down')} {
  $font-size-root: 12px;
  .compact-card {
    transform: scale(0.875);
    transform-origin: left;
  }
}